.container {
  background: #fff;
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow);
  display: flex;
  flex-basis: 50%;
  flex-direction: column;
  flex-grow: 1;
  flex-shrink: 0;
  margin: 0 var(--box-spacing);
}

.list {
  flex-grow: 1;
  padding: var(--box-spacing);
}

.list>div:not(:last-child) {
  margin-bottom: var(--box-spacing);
}

.heading {
  background: var(--branding-color);
  border-radius: var(--border-radius) var(--border-radius) 0 0;
  color: #fff;
  text-align: center;
}

.heading h2 {
  letter-spacing: 1.25px;
  text-transform: uppercase;
}