@import '../../node_modules/normalize.css/normalize.css';

:root {
  --border-radius: 4px;
  --box-alt-background-color: #ececed;
  --box-background-color: #eff1f2;
  --box-background-hover-color: rgba(73, 133, 224, 0.12);
  --box-shadow: 0 2px 4px #0000001a;
  --box-spacing: 12px;
  --branding-color: #2e5c99;
  --idle-color: #a9a9a9;
  --scheduled-color: #148a14;
  --turnaround-color: #b80db8;
}

* {
  box-sizing: border-box;
}

body {
  background-color: var(--box-alt-background-color);
}