.container {
  margin: 0 var(--box-spacing) var(--box-spacing);
  padding: var(--box-spacing);
}

.labels {
  display: flex;
  min-height: 24px;
}

.labels span {
  font-size: 14px;
  line-height: 24px;
}

.labels span:nth-child(odd) {
  flex: 1;
}

.track {
  background-color: var(--idle-color);
  border: 1px solid rgba(19, 19, 21, 0.6);
  height: 40px;
  position: relative;
}

.trackBlock,
.turnover {
  height: 100%;
  position: absolute;
}

.trackBlock {
  background-color: var(--scheduled-color);
}

.turnover {
  background-color: var(--turnaround-color);
  right: 0;
}

.keys {
  display: flex;
  justify-content: space-between;
  margin-top: var(--box-spacing);
}

.key {
  align-items: center;
  display: inline-flex;
  flex: 1;
  font-size: 14px;
  gap: 4px;
}

.key .circle {
  background-color: var(--idle-color);
  border-radius: 50%;
  display: block;
  height: 10px;
  width: 10px;
}

.active {
  flex: 0;
}

.turnaround {
  justify-content: flex-end;
}

.active .circle {
  background-color: var(--scheduled-color);
}

.turnaround .circle {
  background-color: var(--turnaround-color);
}