.container {
  cursor: pointer;
  box-shadow: var(--box-shadow);
  width: 100%;
  border: 1px solid var(--box-alt-background-color);
  border-radius: var(--border-radius);
  padding: var(--box-spacing);
  background: #fff;
}

.container:hover {
  background-color: var(--box-background-hover-color);
}

.container h4 {
  margin: 0 0 8px 0;
}