.container h4 {
  text-align: center;
}

.meta {
  display: flex;
  justify-content: space-between;
  position: relative;
}

.connector {
  margin: 0 10px;
  height: 16px;
  width: 75%;
  position: relative;
}

.connector span {
  width: 100%;
  border-bottom: 1px solid var(--branding-color);
  position: absolute;
  bottom: 40%;
}

.details {
  display: flex;
  flex-direction: column;
  gap: 8px;
}