.container {
  border-left: 4px solid var(--branding-color);
}

.container.selected {
  background-color: var(--box-background-hover-color);
}

.meta {
  display: flex;
  justify-content: space-between;
}

.meta span {
  align-self: flex-end;
}

.meta span:first-of-type {
  font-size: 14px;
}

.meta span:last-of-type {
  font-size: 18px;
}